.header
  .header__top
    .header__title
      = image_tag "logo.png",size: "150x40"
    .header__searchBox
      %form{action: "/jp/search",class:"form"}
        %input{type:"serch",name:"keyword",placeholder:"キーワードから探す",class:"search-box"}
          %button.search__button
            .search__button__icon
              = link_to ""
              = image_tag 'icon-search 1.png'
  .header__bottom
    .header__bottom-left
      .categoryBox
        = link_to "/jp/" do
          = "カテゴリー"
          = image_tag 'icon_category.png'
        .category
          %ul.categoryIndex
            %li.categoryIndex--item
              = link_to "レディース", "/"
            %li.categoryIndex--item
              = link_to "メンズ", "/"
            %li.categoryIndex--item
              = link_to "ベビー・キッズ", "/"
            %li.categoryIndex--item
              = link_to "インテリア・住まい・小物", "/"
            %li.categoryIndex--item
              = link_to "本・音楽・ゲーム", "/"
            %li.categoryIndex--item
              = link_to "おもちゃ・ホビー・グッズ", "/"
            %li.categoryIndex--item
              = link_to "コスメ・香水・美容", "/"
            %li.categoryIndex--item
              = link_to "家電・スマホ・カメラ", "/"
            %li.categoryIndex--item
              = link_to "スポーツ・レジャー", "/"
            %li.categoryIndex--item
              = link_to "ハンドメイド", "/"
            %li.categoryIndex--item
              = link_to "チケット", "/"
            %li.categoryIndex--item
              = link_to "自動車・オートバイ", "/"
            %li.categoryIndex--item
              = link_to "その他", "/"
      .brand_box
        = image_tag 'icon_brand.png'
        = link_to "ブランド", "/jp/"
    .header__bottom-right
      .user_box
        - if user_signed_in? && current_user
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          = link_to "マイページ", user_path(current_user)
        - else
          = link_to "ログイン", new_user_session_path, class: 'new_user_buton',type: 'submit'
          = link_to "新規会員登録",new_user_registration_path, class: 'login_button',type: 'submit'