.header
  .header__top
    .header__title
      = image_tag "logo.png",size: "150x40"
    .header__searchBox
      %form{action: "/jp/search",class:"form"}
        %input{type:"serch",name:"keyword",placeholder:"キーワードから探す",class:"search-box"}
          %button.search__button
            .search__button__icon
              = link_to ""
              = image_tag 'icon-search 1.png'
  .header__bottom
    .header__bottom-left
      .categoryBox
        = link_to "カテゴリー", "/jp/"
        %ul.category1
          - @parents.each do |parent|
            %li.category_parents
              = link_to"#{parent.name}",class: "parent_category",id: "#{parent.id}"
              %ul.category2
                - parent.children.each do |child|
                  %li.categorty_children
                    =link_to child.name
                    %ul.category3
                      - child.children.each do |grandchild|
                        %li.category_grand_children
                          = link_to grandchild.name
  
      .brand_box
        = link_to "ブランド", "/jp/"
    .header__bottom-right
      .user_box
        = link_to "ログイン", new_user_session_path, class: 'new_user_buton',type: 'submit'
        = link_to "新規会員登録",new_user_registration_path, class: 'login_button',type: 'submit'

:javascript
  $(function() {
    $(".categoryBox").hover(function() {
    $("ul.category1").toggle();
    });
    $(".categoryBox li ul").hide();
    $(".categoryBox li").hover(function() {
        $(">ul:not(:animated)", this).stop(true, true).slideDown("fast");
        $(">a", this).addClass("active");
    }, function() {
        $(">ul:not(:animated)", this).stop(true, true).slideUp("fast");
        $(">a", this).removeClass("active");
    });
  });