.purchase
  .purchase__header
    = image_tag 'logo.png'

  .purchase__title
    .purchase__home
      %p 購入内容の確認
  
  .purchase__main
    .purchase__information
      .purchase__box
        .purchase__image
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"
        .purchase__description
          %p カレー(テスト)

      %hr.price-before
    .form
      .purchase__price
        .purchase__price-box
          %h3 支払い金額
          %h3 ¥1640

        .purchase__point-box
          = check_box_tag :check1
          = label_tag :check1, "ポイントを使用(所持ポイント：P0)"

      %hr.purchase__underline
      .purchase__method
        .purchase__top
          .purchase__top-box
            %p 支払い方法
            =link_to '変更する','#'
          %p 
          クレジットカード 
          %br 
          ************ 
          %br
          有効情報
          .purchase_cardLog
          = image_tag "/", height: "20", width: "32"

      %hr.purchase__underline
      .purchase__address
        .purchase__heading
          %p 配送先
          =link_to '変更する','#'
        %p 
        〒XXX-XXXX 
        %br 
        住所 
        %br
        名前

      %hr.purchase__underline
      .purchase__btn
        =link_to '購入する','#',class:"btn btn-default" 
      .purchase__app-btn
        アプリをお持ちでない方は以下よりインストール
        してご利用いただけます。
        .inner__icon
          = link_to "", class: "AppBtn" do
            = image_tag "App_Store_Badge.svg", size: "180x50"
          = link_to "", class: "GooBtn" do
            = image_tag "google-play-badge.svg", size: "180x50"

  .purchase__footer
    %ul
      %li
        =link_to 'プライバシーポリシー' , "#"
      %li 
        =link_to 'メルカリ利用規約' , "#"
      %li
        =link_to '特定商取引に関する表記' , "#" 
    .purchase__footer-logo
      = image_tag 'logo-white.png'
      %p © FURIMA,Inc.