= image_tag "logo.png"
%h2 会員情報入力
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    .content_must
      = f.label :nickname,"ニックネーム"
      .must
        必須
    %br/
    = f.text_field :nickname, autofocus: true, placeholder: "例)フリマ太郎"
  .field
    .content_must
      = f.label :email,"メールアドレス"
      .must
        必須
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
  .field
    .content_must
      = f.label :password
      .must
        必須
    %br/
    = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上"
  .field
    .content_must
      = f.label :password_confirmation
      .must
        必須
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを再入力してください"
  %p 本人確認情報
  .field{class: 'form_name_kana'}
    .form_last_name_kana
      .content_must
        = f.label :名前かな（全角）
        .must
          必須
      %br/
      .forms_kana
        = f.text_field :last_name_kana,placeholder: "姓:例)ふりま"
        %br/
        .form_first_name_kana  
          %br/
          = f.text_field :first_name_kana,placeholder: "名:例)じろう"
  .field{class: 'form_name'}
    .form_last_name
      .content_must
        = f.label :名前（全角）
        .must
          必須
      %br/
      .forms_name
        = f.text_field :last_name,placeholder: "姓:例)浮利馬"
        %br/
        .form_first_name  
          %br/
          = f.text_field :first_name,placeholder: "名:例)二郎"
  .field
    = f.label :生年月日
    = f.date_select :birthday, use_month_numbers: true,
      start_year: 1920, end_year: (Time.now.year)
    %br/
  .actions
    .signup
      = f.submit "サインアップ", class: 'submit-btn'
= render "users/shared/links"

